# --- twitch ---
twitchAPI==4.5.0

# --- config ---
environs==14.3.0

# --- database ---
cachetools==6.2.4

# --- logs ---
loguru==0.7.3

# --- web ---
aiohttp==3.12.15
beautifulsoup4==4.13.5

# --- api ---
deep-translator==1.11.4
langid==1.1.6

# --- cli ---
pyfiglet==1.0.4
termcolor==3.3.0